.auth {
  width: 1000px;
  height: 700px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  display: flex;

  .image-section {
    width: 50%;
    height: 100%;
    background-image: url(../../../assets/images/AuthBackground.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;

    .heading {
      font-weight: bold;
      font-size: 70px;
      text-align: center;
    }
  }

  .form-section {
    padding: 2rem;
    width: 50%;

    .head {
      font-size: 2rem;
      margin-bottom: 1rem;
      opacity: 0.7;
    }

    .sub-head {
      opacity: 0.5;
      font-size: 1rem;
      margin: 1rem 0;
      width: 70%;
    }

    form {
      margin-top: 2rem;
      width: 100%;

      .field {
        display: flex;
        flex-direction: column;

        label {
          opacity: 0.8;
          margin-bottom: 10px;
        }

        input {
          padding: 0.8rem;
          width: 100%;
          border-radius: 5px;
          font-size: 1.1rem;
          font-weight: bold;
          background-color: transparent;
          margin: 1rem 0;
          border: 1px solid rgba(0, 0, 0, 0.2);
        }
      }
      button {
        padding: 0.8rem;
        margin: 2rem 0;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 1.2rem;
        background-color: #d27afc;
        width: 100%;
        transition: all 0.2s ease;
      }
      button:hover {
        background-color: #c562f3;
      }
    }
  }
}
